html{
    margin: 0 0;
    scroll-behavior: smooth;
    height: 100vh;
}
body
{
    height: 100vh;
    margin: 0 0;
    text-align: center;
    background-color: #f3f0f0;
    position: relative;
}
.navbar
{
    margin: 0 0;
    background-color: #264653;
    text-align: start;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.profile_pic
{
    margin-left: 10px;
    height: 80px;
    width: 80px;
    padding: 5px;
}
.first_name
{
    display: inline-block;
    color: #94d2bd;
    font-size: 2rem;
    /* position: absolute; */
}
.buttons
{
    font-weight: 900;
    /* margin-top: 4.7%; */
    display: inline-block;
    margin-top: 5px;
    position: absolute;
    right: 5%;
    text-align: end;
}
.hover_image
{
    width: 50px;
    height: 50px;
    background-color: beige;
    border-radius: 50%;
    /* position: absolute; */
}
.me
{
    margin-top: 4.7%;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #94d2bd;
    display: inline-block;
}
.skill
{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #94d2bd;
    display: inline-block;
}
/* .skills
{
    padding: 100px 0 0 0;
} */
.contacts
{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #94d2bd;
    display: inline-block;
}
#bg_black
{
    background-color: black;
}
.hobbies
{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #94d2bd;
    display: inline-block;
}
a
{
    text-decoration: none;
}
.contact_me
{
    text-align: center;
    padding: 100px 0 22px 0;
}
.contact_profile
{
    height: 250px;
    width: 250px;
    /* padding: 30px; */
    margin: 50px 0 30px 0;
    border-width: 5px;
    border-color: #22577A;
    border-radius: 50%;
    border-style: solid;
}
.contact_img
{
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    border-style: solid;
    background-color: azure;
    border-width: 5px;
    border-color: #22577A;
}
/* .skill_pics
{
    height: 200px;
    width: 270px;
    border-radius: 50%;
    margin: 5px;
} */
/* .right
{
    text-align: left;
    /* border-radius: 20%;
} */
/* .left
{
    text-align: right;
} */
/* .cp
{
    background-color: #b5e48c;
    color: #22577A;
    /* border-style: solid;
    border-radius: 25px;
    padding: 5px;
    /* border-color: #38A3A5;
    position: absolute;
    width: 50%;
    /* right: 5px;
    top: 110px;
    left: 300px;
} */
/* .typing
{
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    
} */
/* .web
{
    background-color: #76c893;
    color: #80ED99;
    /* border-style: solid;
    border-radius: 25px;
    padding: 5px;
    /* border-color: #38A3A5;
    position: absolute;
    width: 50%;
    /* left: 5px;
    top: 320px;
    right: 300px;
} */
/* .pb
{
    background-color: #76c893;
    color: #80ED99;
    /* border-style: solid;
    border-radius: 25px;
    padding: 5px;
    /* border-color: #38A3A5;
    position: absolute;
    width: 50%;
    /* right: 5px;
    top: 530px;
    left: 300px;
} */
/* .vd
{
    background-color: #22577A;
    color: #80ED99;
    /* border-style: solid;
    border-radius: 25px;
    padding: 5px;
    /* border-color: #38A3A5;
    position: absolute;
    width: 50%;
    /* left: 5px;
    top: 750px;
    right: 300px;
} */
/* .ph
{
    background-color: #22577A;
    color: #80ED99;
    /* border-style: solid;
    border-radius: 25px;
    padding: 5px;
    /* border-color: #38A3A5;
    position: absolute;
    width: 50%;
    /* right: 5px;
    top: 970px;
    left: 300px;
} */

.footercontacts
{
    height: 30px;
    background-color: #38A3A5;
    padding: 20px 0 20px 0;
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.profile
{
    border-radius: 50%;
    height: 300px;
    width: 300px; 
    padding: 100px 0 0 0;
    position: absolute;
    left: 13%;
}
.hi
{
    margin: 0 auto 0;
    color: #22577A;
    position: absolute;
    top: 120px;
    left: 23rem;
    font-family: 'Urbanist', sans-serif;
    font-size: 15px;
    text-align: center;
}
.profileright
{
    border-radius: 20%;
    height: 250px;
    width: 250px; 
    padding: 100px 0 0 0;
    position: absolute;
    right: 11%;
}
hr
{
    border-style: dotted;
    height: 1px;
    border-color: #22577A;
    border-radius: 100%;
    width: 30%;
    text-align: center;
    background-color: #22577A;
    border-style: solid;
    position: absolute;
    top: 400px;
    left: 35%;
}
.aboutme
{
    width: 100%;
    font-family: 'Urbanist', sans-serif;
    color: #22577A;
    text-align: center;
    position: absolute;
    top: 420px;
}
/* #profilefooter
{
    width: 100%;
    position: absolute;
    bottom: 0px;
} */
.book
{
    /* padding: 15px 0 0 0; */
    height: 200px;
    width:200px;
    position: absolute;
    left: 25%;
}
.music
{
    height: 200px;
    width:200px;
    position: absolute;
    right: 25%;
    top: 350px;
}
.chess
{
    height: 200px;
    width:200px;
    position: absolute;
    left: 25%;
    top: 530px;
}
.soccer
{
    height: 200px;
    width:200px;
    position: absolute;
    right: 25%;
    top: 700px;
}
.hobbyhead
{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    padding: 120px 0 30px 0;
    font-family: 'Urbanist', sans-serif;
    color: #22577A;
}
.hobbydiv
{
    width: 100%;
    text-align: center;
}
.books
{
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    left: 45%;
    top: 220px;
}
.chesss
{
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    left: 45%;
    top: 570px;
}
.musics
{
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    left: 38%;
    top: 400px;
}
.soccers
{
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    left: 45%;
    top: 770px;
}
.footerhobby
{
    padding: 30px 0 0 0;
    width: 100%;
    height: 45px;
    background-color: #38A3A5;
    position: absolute;
    top: 900px;
}
.footerskill
{
    padding: 30px 0 0 0;
    width: 100%;
    height: 45px;
    background-color: #38A3A5;
    position: absolute;
    top: 850px;
}
.skillfooter
{
    margin: 0;
    padding: 0 0 20px 0;
}
.outer
{
    /* margin: 100px 0 0 0; */
    /* padding: 100px 0 0 0; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.skillimg
{
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 10%;
    border: 5px solid #22577A;
}
.hrz1
{
    height: 100%;
    width: 100%;
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hrz2
{
    padding: 20px 0 0 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}
.skillheading
{
    text-align: center;
    margin: 4px 5px 20px 5px;
    padding: 7px 5px 7px 5px;
    border: 5px solid #38A3A5;
    width: 100px;
    color: #38A3A5;
    background-color: #80ED99;
    font-size: 25px;
    border-radius: 20%;
    margin: auto;
    /* display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 45%; */
    /* right: 50%; */
}
.skillname
{
    text-align: center;
    margin: 4px 5px 20px 5px;
    padding: 7px 5px 7px 5px;
    border: 5px solid #38A3A5;
    width: 200px;
    color: #80ED99;
    background-color: #22577A;
    border-radius: 20px;
    font-size: 20px;
}
.aboutmecontent
{
    text-align: center;
    width: 60%;
    font-family: 'Neucha', cursive;
    color: #38A3A5;
    font-weight: 800;
    position: absolute;
    bottom: -150px;
    left: 20%;
    font-size: 23px;
    line-height: 40px;
}
.footer
{
    height: 30px;
    background-color: #38A3A5;
    padding: 20px 0 20px 0;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 930px;
}
#marks
{
    position: absolute;
    left: 40%;
    top: 750px;
}
#marks, th, td
{
    margin: 2rem auto;
    /* width: 100%; */
    padding: 0.5rem;
    border: 2px solid #000000;
    color : #22577A;
    border-collapse: collapse;
    font-weight: bold;
    /* position: absolute;
    left: 45%;
    top: 360px; */
}

th
{
    color: #11324D;
}
